# 0627 퀴즈

#### kopo_product_volume 테이블을 불러온 후 다음 과정을 진행 하세요. 모든 주차에 이동평균을 window 5로 설정하여 구한 후 (빈 셀은 존재하는 날개에 대해서만) RATIO 컬럼을 추가하여 VOLUME/이동평균 값으로 넣으세요

In [64]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT REGIONID, PRODUCTGROUP, YEARWEEK, VOLUME FROM kopo_product_volume', engine)

In [65]:
customerData.head(5)

  regionid productgroup yearweek    volume
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0
3      A01       ST0001   201515  810144.0
4      A01       ST0002   201515  128999.0

In [66]:
# 컬럼명 대문자
customerData.columns = [x.upper() for x in customerData.columns]

In [67]:
# 정렬하기
customerData=customerData.sort_values(["REGIONID","PRODUCTGROUP","YEARWEEK"], ascending=[True,True,True])
customerData

In [68]:
# 인덱스 다시 설정
sortedData = customerData.reset_index(drop=True)

In [69]:
sortedData.head(5)

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0001   201501  513598.0
1      A01       ST0001   201502  438251.0
2      A01       ST0001   201503  420290.0
3      A01       ST0001   201504  458431.0
4      A01       ST0001   201505  482381.0

In [70]:
# 이동평균 구하기
sortedData["TEST"]=sortedData['VOLUME'].rolling(window=5, center=True).mean()
sortedData.head(5)

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME      TEST
0      A01       ST0001   201501  513598.0       NaN
1      A01       ST0001   201502  438251.0       NaN
2      A01       ST0001   201503  420290.0  462590.2
3      A01       ST0001   201504  458431.0  473953.0
4      A01       ST0001   201505  482381.0  510381.2

In [71]:
import math
suborder=math.floor(5/2)
suborder

2

In [72]:
# 첫 두 행 이동평균 구하기
list=[]
for i in range(0,suborder):
    list.append(sortedData['VOLUME'][0:i+suborder+1].mean())
list

[457379.6666666667, 457642.5]

In [73]:
for i in range(0,suborder):
    sortedData.loc[i,"TEST"]=list[i]

In [74]:
# 마지막 두행 이동평균 구하기
list1=[]
num=len(sortedData)-1
for i in range(0,suborder):
    list1.append(sortedData['VOLUME'][-i-suborder-1:].mean())
list1

[175121.33333333334, 171836.75]

In [75]:
for i in range(0,suborder):
    sortedData['TEST'][num-i]=list1[i]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
############ 교수님 답 ############
# postList=[]
# maxLength= len(sortedData)
# for i in range(0,suborder):
#     postList.append(sortedData["VOLUME"][maxLength-(i+1):maxLength].mean())
#     sortedData.loc[maxLength-[i+1],"MA"]=postList[i]
# preList=[]
# for i in range(0,suborder):
#     preList.append(sortedData["VOLUME"][0+i:suborder].mean())
#     sortedData.loc[i,"MA"]=preList[i]

In [ ]:
############ 그외 풀이 ############
# sortedData["VOLUME"][(maxLength-1)-(suborder+i):maxLength]

In [76]:
# RATIO 속성 추가 ( RATIO = VOLUME/이동평균)
sortedData["RATIO"]=sortedData["VOLUME"]/sortedData["TEST"]
sortedData

    REGIONID PRODUCTGROUP YEARWEEK    VOLUME           TEST     RATIO
0        A01       ST0001   201501  513598.0  457379.666667  1.122914
1        A01       ST0001   201502  438251.0  457642.500000  0.957627
2        A01       ST0001   201503  420290.0  462590.200000  0.908558
3        A01       ST0001   201504  458431.0  473953.000000  0.967250
4        A01       ST0001   201505  482381.0  510381.200000  0.945139
5        A01       ST0001   201506  570412.0  540679.400000  1.054991
6        A01       ST0001   201507  620392.0  562902.200000  1.102131
7        A01       ST0001   201508  571781.0  568761.800000  1.005308
8        A01       ST0001   201509  569545.0  559636.800000  1.017705
9        A01       ST0001   201510  511679.0  532860.200000  0.960250
10       A01       ST0001   201511  524787.0  512512.000000  1.023951
11       A01       ST0001   201512  486509.0  484242.000000  1.004682
12       A01       ST0001   201513  470040.0  543935.000000  0.864147
13       A01       ST0001   201514  428195.0  591963.000000  0.723348
14       A01       ST0001   201515  810144.0  634161.600000  1.277504
15       A01       ST0001   201516  764927.0  674446.400000  1.134155
16       A01       ST0001   201517  697502.0  725358.800000  0.961596
17       A01       ST0001   201518  671464.0  692455.200000  0.969686
18       A01       ST0001   201519  682757.0  663527.800000  1.028980
19       A01       ST0001   201520  645626.0  644648.200000  1.001517
20       A01       ST0001   201521  620290.0  632451.200000  0.980771
21       A01       ST0001   201522  603104.0  613822.400000  0.982538
22       A01       ST0001   201523  610479.0  608437.000000  1.003356
23       A01       ST0001   201524  589613.0  601723.200000  0.979874
24       A01       ST0001   201525  618699.0  600911.000000  1.029602
25       A01       ST0001   201526  586721.0  596321.000000  0.983901
26       A01       ST0001   201527  599043.0  602574.800000  0.994139
27       A01       ST0001   201528  587529.0  607631.800000  0.966916
28       A01       ST0001   201529  620882.0  624515.200000  0.994182
29       A01       ST0001   201530  643984.0  640208.400000  1.005897
..       ...          ...      ...       ...            ...       ...
129      A01       ST0002   201550  294579.0  628673.600000  0.468572
130      A01       ST0002   201551  356271.0  395110.400000  0.901700
131      A01       ST0002   201552  422468.0  293728.400000  1.438295
132      A01       ST0002   201553  232523.0  262249.800000  0.886647
133      A01       ST0002   201601  162801.0  221548.200000  0.734833
134      A01       ST0002   201602  137186.0  176466.000000  0.777408
135      A01       ST0002   201603  152763.0  176204.200000  0.866966
136      A01       ST0002   201604  197057.0  178090.000000  1.106502
137      A01       ST0002   201605  231214.0  182917.600000  1.264034
138      A01       ST0002   201606  172230.0  178365.000000  0.965604
139      A01       ST0002   201607  161324.0  169783.400000  0.950175
140      A01       ST0002   201608  130000.0  152055.600000  0.854950
141      A01       ST0002   201609  154149.0  147792.600000  1.043009
142      A01       ST0002   201610  142575.0  142083.800000  1.003457
143      A01       ST0002   201611  150915.0  143241.400000  1.053571
144      A01       ST0002   201612  132780.0  142178.600000  0.933896
145      A01       ST0002   201613  135788.0  142299.600000  0.954240
146      A01       ST0002   201614  148835.0  139702.000000  1.065375
147      A01       ST0002   201615  143180.0  141601.800000  1.011145
148      A01       ST0002   201616  137927.0  146956.200000  0.938559
149      A01       ST0002   201617  142279.0  147785.200000  0.962742
150      A01       ST0002   201618  162560.0  151331.800000  1.074196
151      A01       ST0002   201619  152980.0  164943.200000  0.927471
152      A01       ST0002   201620  160913.0  179473.200000  0.896585
153      A01       ST0002   201621  205984.0  179357.800000  1.148453
154      A01       ST0002   201622  214929.0  183080.200000  1.173961
155      A01       ST0002   201623  161983.0  182354.200000  0.888288
156      A01       ST0002   201624  171592.0  180455.200000  0.950884
157      A01       ST0002   201625  157283.0  171836.750000  0.915305
158      A01       ST0002   201626  196489.0  175121.333333  1.122016

[159 rows x 6 columns]

# ---------생각해보기---------

In [ ]:
def sub_function(data,i):
    data["MA"]=data["VOLUME"].rolling(window=5,center=True).mean()
    return data

In [ ]:
groupResult11 = sortedData.groupby(['REGIONID','PRODUCTGROUP']).apply(sub_function,i)
groupResult11.head(2)

In [ ]:
groupResult.to_csv("d/groupResult.csv")