In [53]:
import math

In [1]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT REGIONID, PRODUCTGROUP, YEARWEEK, VOLUME FROM kopo_product_volume', engine)

In [18]:
customerData

    REGIONID PRODUCTGROUP YEARWEEK    VOLUME
36       A01       ST0001   201501  513598.0
24       A01       ST0001   201502  438251.0
30       A01       ST0001   201503  420290.0
38       A01       ST0001   201504  458431.0
26       A01       ST0001   201505  482381.0
32       A01       ST0001   201506  570412.0
20       A01       ST0001   201507  620392.0
28       A01       ST0001   201508  571781.0
34       A01       ST0001   201509  569545.0
22       A01       ST0001   201510  511679.0
9        A01       ST0001   201511  524787.0
17       A01       ST0001   201512  486509.0
7        A01       ST0001   201513  470040.0
15       A01       ST0001   201514  428195.0
3        A01       ST0001   201515  810144.0
11       A01       ST0001   201516  764927.0
18       A01       ST0001   201517  697502.0
5        A01       ST0001   201518  671464.0
13       A01       ST0001   201519  682757.0
1        A01       ST0001   201520  645626.0
70       A01       ST0001   201521  620290.0
78       A01       ST0001   201522  603104.0
64       A01       ST0001   201523  610479.0
74       A01       ST0001   201524  589613.0
60       A01       ST0001   201525  618699.0
66       A01       ST0001   201526  586721.0
76       A01       ST0001   201527  599043.0
62       A01       ST0001   201528  587529.0
72       A01       ST0001   201529  620882.0
80       A01       ST0001   201530  643984.0
..       ...          ...      ...       ...
117      A01       ST0002   201550  294579.0
105      A01       ST0002   201551  356271.0
93       A01       ST0002   201552  422468.0
99       A01       ST0002   201553  232523.0
87       A01       ST0002   201601  162801.0
97       A01       ST0002   201602  137186.0
85       A01       ST0002   201603  152763.0
95       A01       ST0002   201604  197057.0
83       A01       ST0002   201605  231214.0
91       A01       ST0002   201606  172230.0
101      A01       ST0002   201607  161324.0
89       A01       ST0002   201608  130000.0
155      A01       ST0002   201609  154149.0
143      A01       ST0002   201610  142575.0
151      A01       ST0002   201611  150915.0
141      A01       ST0002   201612  132780.0
149      A01       ST0002   201613  135788.0
157      A01       ST0002   201614  148835.0
147      A01       ST0002   201615  143180.0
154      A01       ST0002   201616  137927.0
145      A01       ST0002   201617  142279.0
137      A01       ST0002   201618  162560.0
129      A01       ST0002   201619  152980.0
135      A01       ST0002   201620  160913.0
125      A01       ST0002   201621  205984.0
133      A01       ST0002   201622  214929.0
123      A01       ST0002   201623  161983.0
131      A01       ST0002   201624  171592.0
139      A01       ST0002   201625  157283.0
127      A01       ST0002   201626  196489.0

[159 rows x 4 columns]

In [3]:
# 컬럼명 대문자
customerData.columns = [x.upper() for x in customerData.columns]

In [5]:
# 정렬하기
customerData=customerData.sort_values(["REGIONID","PRODUCTGROUP","YEARWEEK"], ascending=[True,True,True])
# 인덱스 다시 설정
sortedData = customerData.reset_index(drop=True)

In [44]:
sortedData.head()

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0001   201501  513598.0
1      A01       ST0001   201502  438251.0
2      A01       ST0001   201503  420290.0
3      A01       ST0001   201504  458431.0
4      A01       ST0001   201505  482381.0

In [ ]:
# postList=[]
# maxLength= len(sortedData)
# for i in range(0,suborder):
#     postList.append(sortedData["VOLUME"][maxLength-(i+1):maxLength].mean())
#     sortedData.loc[maxLength-[i+1],"MA"]=postList[i]

In [56]:
def sub_function(data):
    data = data.reset_index(drop=True)
    data["MA"]=data["VOLUME"].rolling(window=5,center=True).mean()
    
    suborder=math.floor(5/2)
   
    list=[]
    maxLength=len(data)-1
    for i in range(0,suborder):
        list.append(data['VOLUME'][0:i+suborder+1].mean())
        data.loc[i,"MA"]=list[i]
    
    list1=[]
    for i in range(0,suborder):
        list1.append(data['VOLUME'][-i-suborder-1:].mean())
        data['MA'][maxLength-i]=list1[i]
        
    return data

In [57]:
groupResult11 = sortedData.groupby(['REGIONID','PRODUCTGROUP']).apply(sub_function)
groupResult11

                         REGIONID PRODUCTGROUP YEARWEEK    VOLUME  \
REGIONID PRODUCTGROUP
A01      ST0001       0       A01       ST0001   201501  513598.0
                      1       A01       ST0001   201502  438251.0
                      2       A01       ST0001   201503  420290.0
                      3       A01       ST0001   201504  458431.0
                      4       A01       ST0001   201505  482381.0
                      5       A01       ST0001   201506  570412.0
                      6       A01       ST0001   201507  620392.0
                      7       A01       ST0001   201508  571781.0
                      8       A01       ST0001   201509  569545.0
                      9       A01       ST0001   201510  511679.0
                      10      A01       ST0001   201511  524787.0
                      11      A01       ST0001   201512  486509.0
                      12      A01       ST0001   201513  470040.0
                      13      A01       ST0001   201514  428195.0
                      14      A01       ST0001   201515  810144.0
                      15      A01       ST0001   201516  764927.0
                      16      A01       ST0001   201517  697502.0
                      17      A01       ST0001   201518  671464.0
                      18      A01       ST0001   201519  682757.0
                      19      A01       ST0001   201520  645626.0
                      20      A01       ST0001   201521  620290.0
                      21      A01       ST0001   201522  603104.0
                      22      A01       ST0001   201523  610479.0
                      23      A01       ST0001   201524  589613.0
                      24      A01       ST0001   201525  618699.0
                      25      A01       ST0001   201526  586721.0
                      26      A01       ST0001   201527  599043.0
                      27      A01       ST0001   201528  587529.0
                      28      A01       ST0001   201529  620882.0
                      29      A01       ST0001   201530  643984.0
...                           ...          ...      ...       ...
         ST0002       49      A01       ST0002   201550  294579.0
                      50      A01       ST0002   201551  356271.0
                      51      A01       ST0002   201552  422468.0
                      52      A01       ST0002   201553  232523.0
                      53      A01       ST0002   201601  162801.0
                      54      A01       ST0002   201602  137186.0
                      55      A01       ST0002   201603  152763.0
                      56      A01       ST0002   201604  197057.0
                      57      A01       ST0002   201605  231214.0
                      58      A01       ST0002   201606  172230.0
                      59      A01       ST0002   201607  161324.0
                      60      A01       ST0002   201608  130000.0
                      61      A01       ST0002   201609  154149.0
                      62      A01       ST0002   201610  142575.0
                      63      A01       ST0002   201611  150915.0
                      64      A01       ST0002   201612  132780.0
                      65      A01       ST0002   201613  135788.0
                      66      A01       ST0002   201614  148835.0
                      67      A01       ST0002   201615  143180.0
                      68      A01       ST0002   201616  137927.0
                      69      A01       ST0002   201617  142279.0
                      70      A01       ST0002   201618  162560.0
                      71      A01       ST0002   201619  152980.0
                      72      A01       ST0002   201620  160913.0
                      73      A01       ST0002   201621  205984.0
                      74      A01       ST0002   201622  214929.0
                      75      A01       ST0002   201623  161983.0
                      76      A01       ST0002   201624  171592.0
                      77      A01       ST0002   201625  157283.0
                      78      A01       ST0002   201626  196489.0

                                     MA
REGIONID PRODUCTGROUP
A01      ST0001       0   457379.666667
                      1   457642.500000
                      2   462590.200000
                      3   473953.000000
                      4   510381.200000
                      5   540679.400000
                      6   562902.200000
                      7   568761.800000
                      8   559636.800000
                      9   532860.200000
                      10  512512.000000
                      11  484242.000000
                      12  543935.000000
                      13  591963.000000
                      14  634161.600000
                      15  674446.400000
                      16  725358.800000
                      17  692455.200000
                      18  663527.800000
                      19  644648.200000
                      20  632451.200000
                      21  613822.400000
                      22  608437.000000
                      23  601723.200000
                      24  600911.000000
                      25  596321.000000
                      26  602574.800000
                      27  607631.800000
                      28  624515.200000
                      29  640208.400000
...                                 ...
         ST0002       49  628673.600000
                      50  395110.400000
                      51  293728.400000
                      52  262249.800000
                      53  221548.200000
                      54  176466.000000
                      55  176204.200000
                      56  178090.000000
                      57  182917.600000
                      58  178365.000000
                      59  169783.400000
                      60  152055.600000
                      61  147792.600000
                      62  142083.800000
                      63  143241.400000
                      64  142178.600000
                      65  142299.600000
                      66  139702.000000
                      67  141601.800000
                      68  146956.200000
                      69  147785.200000
                      70  151331.800000
                      71  164943.200000
                      72  179473.200000
                      73  179357.800000
                      74  183080.200000
                      75  182354.200000
                      76  180455.200000
                      77  171836.750000
                      78  175121.333333

[159 rows x 5 columns]

In [58]:
groupResult11.to_csv("d:/groupResult11111.csv")